.cray-css-code {
    background-color: #7f8c8d;
}

.cray-css-code-round-1 {
    background-color: #7f8c8d;
    border-radius: 1px;
}

.cray-css-code-round-2 {
    background-color: #7f8c8d;
    border-radius: 2px;
}

.cray-css-code-round-3 {
    background-color: #7f8c8d;
    border-radius: 3px;
}

.cray-css-code-round-4 {
    background-color: #7f8c8d;
    border-radius: 4px;
}

.cray-css-code-round-5 {
    background-color: #7f8c8d;
    border-radius: 5px;
}

.cray-css-code-round-10 {
    background-color: #7f8c8d;
    border-radius: 10px;
}

.cray-css-code-round-15 {
    background-color: #7f8c8d;
    border-radius: 15px;
}

.cray-css-bg-grey {
    background-color: #7f8c8d;
}

.cray-css-bg-red {
    background-color: #c0392b;
}

.cray-css-bg-green {
    background-color: #16a085;
}

.cray-css-bg-orange {
    background-color: #f39c12;
}

.cray-css-bg-blue {
    background-color: #3498db;
}

.cray-css-bg-black {
    background-color: #2c3e50;
}

.cray-css-bg-white {
    background-color: #ecf0f1;
}

.cray-css-notification-image {
    background-image: url("./../img/success.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 75px;
}

.cray-css-notification {
    padding: 1px;
    width: 250px;
    background-color: #4ebe0db0;
    color: white;
    font-size: 7.5px;
}