a, button, input {
    text-decoration: none;
}

li {
    list-style: none;
}

::selection {
    background-color: rgb(21, 206, 159);
}

.cray-css-code {
    background-color: #636363;
}

.cray-css-code-round-1 {
    background-color: #636363;
    border-radius: 1px;
}

.cray-css-code-round-2 {
    background-color: #636363;
    border-radius: 2px;
}

.cray-css-code-round-3 {
    background-color: #636363;
    border-radius: 3px;
}

.cray-css-code-round-4 {
    background-color: #636363;
    border-radius: 4px;
}

.cray-css-code-round-5 {
    background-color: #636363;
    border-radius: 5px;
}

.cray-css-code-round-10 {
    background-color: #636363;
    border-radius: 10px;
}

.cray-css-code-round-15 {
    background-color: #636363;
    border-radius: 15px;
}

.cray-css-bg-grey {
    background-color: #636363;
}

.cray-css-bg-red {
    background-color: #ff3838;
}

.cray-css-bg-green {
    background-color: #2ecc71;
}

.cray-css-bg-orange {
    background-color: #ffa502;
}

.cray-css-bg-blue {
    background-color: #3498db;
}

.cray-css-bg-black {
    background-color: black;
}

.cray-css-bg-white {
    background-color: white;
}

.cray-css-bg-grey-round-1 {
    background-color: #636363;
}

.cray-css-bg-red-round-1 {
    background-color: #ff3838;
}

.cray-css-bg-green-round-1 {
    background-color: #2ecc71;
}

.cray-css-bg-orange-round-1 {
    background-color: #ffa502;
}

.cray-css-bg-blue-round-1 {
    background-color: #3498db;
}

.cray-css-bg-black-round-1 {
    background-color: black;
}

.cray-css-bg-white-round-1 {
    background-color: white;
}

.cray-css-bg-grey-round-2 {
    background-color: #636363;
}

.cray-css-bg-red-round-2 {
    background-color: #ff3838;
}

.cray-css-bg-green-round-2 {
    background-color: #2ecc71;
}

.cray-css-bg-orange-round-2 {
    background-color: #ffa502;
}

.cray-css-bg-blue-round-2 {
    background-color: #3498db;
}

.cray-css-bg-black-round-2 {
    background-color: black;
}

.cray-css-bg-white-round-2 {
    background-color: white;
}

.cray-css-text-white {
    color: white;
}

.cray-css-text-black {
    color: black;
}

.circle {
    border-radius: 240px;
}
